/** Main menu style **/
.hide {
	display: none;
}
.mainMenu li.current-menu-item  a{
	color:#ff6600;
}
.mainMenu li .ichome, .mainMenu li.ichome span{
	background: url(images/icon-home.png) no-repeat center top;
}
.mainMenu li a:hover .ichome, .mainMenu li.ichome a:hover span, .mainMenu li.ichome.current-menu-item a span {
	background: url(images/icon-home.png) no-repeat center -35px;
}

.mainMenu li a .iceduacation, .mainMenu > li.iceduacation > a > span{
	background: url(images/icon-education.png) no-repeat  center top;
}
.mainMenu li a:hover .iceduacation, .mainMenu li.iceduacation a:hover span, .mainMenu > li.iceduacation.current-menu-item > a > span{
	background: url(images/icon-education.png) no-repeat center -35px;
}

.mainMenu li a .icmembership, .mainMenu li.icmembership a span{
	background: url(images/icon-membership.png) no-repeat center top;
}
.mainMenu li a:hover .icmembership, .mainMenu li.icmembership a:hover span, .mainMenu li.icmembership.current-menu-item a span{
	background: url(images/icon-membership.png) no-repeat center -35px;
}

.mainMenu li a .icresources, .mainMenu li.icresources a span{
	background: url(images/icon-resources.png) no-repeat center top;
}
.mainMenu li a:hover .icresources, .mainMenu li.icresources a:hover span, .mainMenu li.icresources.current-menu-item a span{
	background: url(images/icon-resources.png) no-repeat center -35px;
}

.mainMenu li a .icacupuncture, .mainMenu li.icacupuncture a span{
	background: url(images/icon-acupuncture.png) no-repeat center top;
}
.mainMenu li a:hover .icacupuncture, .mainMenu li.icacupuncture a:hover span, .mainMenu li.icacupuncture.current-menu-item a span{
	background: url(images/icon-acupuncture.png) no-repeat center -35px;
}

.mainMenu li a .icabout, .mainMenu li.icabout a span.icon{
	background: url(images/icon-about.png) no-repeat center top;
}
.mainMenu li a:hover .icabout, .mainMenu li.icabout a:hover span.icon, .mainMenu li.icabout.current-menu-item a span{
	background: url(images/icon-about.png) no-repeat center -35px;
}

.mainMenu li.mainLogo a span, .stickyMenu .mainLogo, .mainMenu li ul span.icon{
	display: none;
}
.sub-menu span.icon {
}
/* Wkly Poll Widget */
.weeklyPoll li img {
	padding-right:6px!important;
}
.weeklyPoll li:last-child{
	text-align:left;
}
.btnVote{
	padding:4px 0px!important;
	float: left;
}
.btnVote:hover{
	background:#FF6500;
}
.poll-result ul {
	margin: 0!important;
}
.poll-result ul li  {
	clear: both;
	float: left;
}
.poll-result ul li .result-bar {
background: #FF6500;
float: left;
height: 12px;
margin-right: 10px;
}
.poll-result ul li .total-vote {
font-weight: normal;
color: #000;
font-style: italic;
}
.poll-result ul li p {
font-weight: normal;
color: #000;
clear: both;
float: left;
margin-top: .5em;
}
.total-res {
	float: left;
	clear: both;
}
/* home slect list */
.transformSelect li a {
	text-decoration: none;
}
.attachment-home-thumb {
	width: 280px;
	height: 186px;
}
/* stickyMenu */
.stickyMenu ul li {
	background: none;
}
/* Footer menu style */
.footer-menu ul {
	display: inline;
}
.footer-menu li {
	float: left;
}
/* footer widget mnu style */
.footerSection ul li a {
	color: white;
}
/**/
.subLinks > li {
	list-style: none;
}
.subLinks li ul {
	display: none;
}
.subLinks li.current_page_parent ul, .subLinks li.current-menu-item ul, .subLinks li.current-menu-parent ul {
	display:  block;
}
.sidebar .subLinks li.current_page_parent a, .sidebar .subLinks li.current-menu-item a,
.sidebar .subLinks li.current-menu-parent a {
	color: #000000;
	display: block;
	padding: 5px 0 5px 15px;
}
.sidebar .subLinks li.current_page_parent > a, .sidebar .subLinks li.current-menu-item > a,
.sidebar .subLinks li.current-menu-parent > a  {
	font-weight: 700;
	color: #000000;
	background: url(images/bullet_orange.png) no-repeat left center;
	border-bottom: none;
}
.sidebar .subLinks li.current_page_parent a, .sidebar .subLinks li.current-menu-item a,
.sidebar .subLinks li.current-menu-parent a  {
	color: #000000;
	display: block;
	padding: 5px 0 5px 15px;
}
.sidebar .subLinks li.current-menu-parent li.current-menu-item a  {
	padding: 5px 0 5px 30px;
	background: url(images/bullet_orange.png) no-repeat 15px center;
}
.blog-sidebar {
}
.blog-sidebar .mnu li.firstRow a{
	border-top:1px solid #C7C7C9;
}
.blog-sidebar .menu li > a {
	border-bottom:1px solid #C7C7C9;
	padding:5px 0 8px 0;
	display:block;
	color:#CB4B00;
} 
.blog-sidebar .menu > li.firstChild a{
	border-top:1px solid #C7C7C9;
}

.blog-sidebar > .menu > li{
	float:none;
	width:100%;
	padding:0;
}
/* //Mobile Menu */
#mobileMenu {
	display: none;
}
#mobileMenu.mm-opened {
	display: block;
}
#mobileMenu .icon {
	display: inline-block;
	width: 34px;
	height: 34px;
	vertical-align: middle;
}
#mobileMenu li.menu-item {
	background-image: none;
}
#mobileMenu .label span.icon, li.null a {
	display: none!important;
}
#mobileMenu .label span.menuText {
	display: inline-block;
	padding-left: 0!important;
	line-height: 14px!important;
}
#mobileMenu .label a {
	padding: 0!important;
	line-height: 17px!important;
	display: block;
}
#mobileMenu li li a span.icon {
	display: none;
}
#mobileMenu li li a span.menuText {
    display: inline-block;
    padding-left: 0px;
    line-height: 18px;
}
#mobileMenu .iclogin a > span.icon {
	background: url(images/icons-mobile.png) no-repeat left top;
}
#mobileMenu .ichome a > span.icon {
	background: url(images/icons-mobile.png) no-repeat -34px top;
}
#mobileMenu .icedu > a > span.icon {
	background: url(images/icons-mobile.png) no-repeat -68px top;
}
#mobileMenu .icmem > a > span.icon {
	background: url(images/icons-mobile.png) no-repeat -102px top;
}
#mobileMenu .icres > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -136px top;
}
#mobileMenu .icacu > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -170px top;
}
#mobileMenu .icabo > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -204px top;
}
#mobileMenu .icfin > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -238px top;
}
#mobileMenu .icoth > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -272px top;
}
#mobileMenu .icmed > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -306px top;
}
#mobileMenu .icsto > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -340px top;
}
#mobileMenu .icsus > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -374px top;
}
#mobileMenu .icfac > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -408px top;
}
#mobileMenu .ictwi > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -442px top;
}
#mobileMenu .iclin > a  > span.icon {
	background: url(images/icons-mobile.png) no-repeat -476px top;
}
#mobileMenu .icyou > a > span.icon {
	background: url(images/icons-mobile.png) no-repeat -510px top;
}
/* records table style */
.tblExams tr td:first-child {
	text-align: left;
}
.tblCourses.showMobileOnly td:first-child {
	text-align: left;
}
/* blog pagination */
.wp-pagenavi .pages {
	display: none;
}
.wp-pagenavi{
	font-size:1.4rem;
	float:none;
	text-align:center;
}
.wp-pagenavi span, .wp-pagenavi a{
	display:inline-block;
	margin-right:10px;
}
.wp-pagenavi a{
	color:#353535;
}
.wp-pagenavi a.previouspostslink, .wp-pagenavi a.nextpostslink {
	color:#CB4B00;
}
.wp-pagenavi a.current, .wp-pagenavi span.current {
	background:#CB4B00;
	border-radius:50%;
	color:#fff;
	padding:5px 10px;
	font-weight:600;
}
/**/
.mobile-subLinks {
	margin: 50px 0 50px;
	border-top: 1px solid #C7C7C9;
}
.otherSections h4 a {
	font-size: 1.8rem;
	font-weight: 900;
	color: #F25D03;
	margin-top: 10px;
	margin-bottom: 10px;
}
.otherSections h4 a:hover {
	text-decoration: none;
}
/*Education & Certification page style*/
/*.subCategory h3 a:first-child {
	font-size: 2.2rem;
	font-weight: bold;
	color: #000000;
	padding-left: 0px;
}*/
/* footer menu responsive style */
/*Mega Menu custom style*/
.megaMenu li.column.laside, .megaMenu li.column.raside {
	background: none;
	margin-left: 0px;
}
.megaMenu ul.menu-odd li li {
	position: relative;
	margin-left: 20px;
}
.megaMenu li.column.laside:hover {
	background: none;
	text-decoration: none;
}
.megaMenu li.column.laside li a:hover {
	text-decoration: none;
}
.megaMenu li.column.laside li:hover{
	background:#716F73;
	text-decoration:none;
}
.megaMenu .subMenu{
	color:#000;
	text-align:left;
	padding:15px;
}
.megaMenu .subMenu a{
	color:#000;
	display:block;
	padding-bottom:15px;
}
.dropDown li.sub-menu-item .sub-sub-menu{
	display:none;
}
.dropDown li.sub-menu-item:hover .sub-sub-menu{
	display:block;
	position:absolute;
	left:234px;
	width:100%;
	padding:10px 0;
	top:0;
	background:#716F73;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);;
}
.dropDown li.sub-menu-item:hover .sub-sub-menu a{
	color:#fff;
	border:none;
}
.flipMenu li.sub-menu-item:hover .sub-sub-menu{
	left:-220px;
}
@media (min-width:220px) and (max-width:340px) {
.breadcrumb-section {
	margin-bottom: 20px;
	padding-top: 20px;
}
.breadcrumb-section .breadcrumb, #execphp-9, #polls-widget-3 {
	display: none;
}
.logo a:hover {
	cursor: pointer;
}
.logo a {
    display: block;
    width: 80%;
    float: right;
    height: 100%;
}
.showMenu {
	z-index: 99999;
}
.row.categoryList .subCategory:first-child {
	margin-top: 0px;
}
.table.course-single tr td {
	text-align: left;
	font-weight: 100;
}
.table.course-single tr td:first-child {
	text-align: right;
	font-weight: bold;
}
.table.course-single tr td.reg-link {
	text-align: center;
}
/*.footer .col9 .footerSection {
    float: left;
    padding: 0px 8px 0px 15px;
    background: url('images/dot-seperator.png') no-repeat scroll 0% 6px transparent;
}
.footer .col9 .footerSection:first-child {
	background: none;
	padding-left: 0;
}
.footer .col9 .footerSection:last-child {
    background: url('images/dot-seperator.png') no-repeat scroll 0% 6px transparent;
}*/
}